node_modules
npm-debug.log
vendor
.env
.env.local
.env.testing
.env.production
.phpunit.result.cache
/tests
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/bootstrap/cache/*.php
/public/build/*.hot-update.*
/public/hot
.DS_Store
.idea
.vscode
*.swp
*.swo
